.background {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

mat-card {
    width: 80%;
}

mat-form-field {
    width: 100%;
}


@media (max-width: 1024px) {
    .background {
        padding: 5px;
    }
    mat-card {
        width: 99%;
    }
}

@media (max-width: 624px) {
    .background {
        padding: 1px;
    }

    mat-card {
        width: 99%;
    }
}

